<!DOCTYPE html>
<html>
<head>
	<title>{{meta.name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./home/public/style.css">
</head>
<body>
	<h1>{{meta.name}}</h1>
	{{#if features}}
	<ul class="features-list">
		{{#each features}}
		<a href="{{path}}/public"><h2>{{name}}</h2></a>
		{{/each}}
	</ul>
	{{/if}}
</body>
</html>