@import 'reset';

$blue: #35a0f2;
$yellow: #FFE933 ;
$red: #D60041;
$green: #8ded26;

html {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Helvetica Nueue',  Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.cant-touch {
	pointer-events: none;
}

h1 {
	height: 1px;
	width: 1px;
	overflow: hidden;
	color: transparent;
	position: absolute;
	top: -100px;
	left: -100px;
}

.viz-holder {
	width: 100vw;
	height: 100vh;
}

circle {
	&.quake-point {
		stroke-width: 1;
		stroke: #333;
	}
}


.grid-panel {
	fill: $blue;
	stroke: $blue;
	fill-opacity: 0.04;
	stroke-opacity: 0.6;
}

.fault,
.fault-key rect,
path, line {
	stroke: black;
	stroke-opacity: 0.2;
	stroke-width: 0.4;
}

.viz-hit,
.timeline-bg {
	fill: transparent;
}

.timeline {
	&-baseline {
		stroke-width: 1;
		stroke-opacity: 1;
	}
	&-history {
		fill: lighten($green, 20%);
	}
}

.playhead {
	&-body {
		fill: white;
		fill-opacity: 1;
	}
	&-body,
	&-stroke {
		stroke-opacity: 1;
	}
}

text {
	fill: black;
	fill-opacity: 0.4;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fault-key rect,
.fault {
	fill: black;
	fill-opacity: 0.03;
}


.key,
.ui {
	position: fixed;
	top: 0;
	padding: 1.5rem;
}

.ui {
	right: 0;
	&-input {
		input[type="number"] {
			width: 4rem;
			height: 2rem;
			margin-bottom: 1rem;
			margin-right: 0.75rem;
			text-align: center;
			font-size: 1rem;
			text-indent: 0.5rem;
		}
	}
	&-checkbox {
		input[type="checkbox"] {
			margin-right: 0.75rem;
			position: relative;
			top: -0.05rem;
		}
		label {
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	.buttons {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		button {
			flex-basis: 48%;
			margin-bottom: 0.6rem;
		}
	}
	&-count {
		margin-bottom: 0.5rem;
		max-width: 10.6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.event-count {
		background: $yellow;
		text-align: center;
		border-radius: 2rem;
		padding: 0.3rem 1rem;
	}
}

.key {
	left: 0;
	span {
		font-size: 0.75rem;
		&.color-range {
			display: block;
			margin-top: 0.3rem;
			&-circle {
				display: inline-block;
				border-radius: 100px;
				height: 1rem;
				width: 1rem;
				position: relative;
				top: 0.25rem;
				border: 1px solid #333;
				&.older {
					background-color: $red;
				}
				&.middle {
					background-color: $yellow;
				}
				&.newer {
					background-color: $green;
				}
			}
		}
	}
	.subfaults {
		display: inline-block;
		margin-top: 0.3rem;
	}
	.fault-key {
		position: relative;
		top: 0.35rem;
		margin-left: 0.15rem;
		& rect {
			stroke-opacity: 0.6;
			transform: skewX(20deg);
		}
	}
}




