@import 'reset';

*, *:before, *:after {
	box-sizing: border-box;
}

h1 {
	height: 1px;
	width: 1px;
	overflow: hidden;
	color: transparent;
	position: absolute;
	top: -100px;
	left: -100px;
}

.viz-holder {
	width: 100vw;
	min-height: 100vh;
}

circle {
	&.quake-point {
		stroke-width: 1;
		stroke: #333;
		// &.expired {
		// 	stroke: red;
		// }
		opacity: 1;
		transition: opacity 1s;
	}
}

path, line {
	stroke: black;
	stroke-opacity: 0.2;
	stroke-width: 0.4;
}

text {
	fill: black;
	fill-opacity: 0.4;
	font-family: 'Helvetica Nueue',  Helvetica, Arial, sans-serif;
}