@import 'reset';

*, *:before, *:after {
	box-sizing: border-box;
}

h1 {
	font-size: 3em;
	margin: 0.4em 0;
	text-align: center;
}


.viz-holder {
	width: 95vw;
	height: 50vh;
	margin: auto;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	outline: 2px solid lightgray;
}